body {
    width: 400px;
    height: 300px;
    font-family: Arial;
}

.elements {
    display: none;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFEAAE;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin: 15px auto 0 auto;
}

#newsletterLink {
    width: 6em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 12px 20px; 
    display:inline-block;
    background:#FF6719; 
    color:white; 
    text-decoration: none; 
    border-radius: 16px;
}

#newsletterLink:hover {
    background:#4a90e2; 
    text-decoration: none; 
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(255, 103, 25, 0.2);
}

input { 
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.2s ease;
    border-radius: 25px;
}

input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

button {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowns {
    display: flex;
}

.dropdown {
    padding: 15px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#select-content, #select-content-helpers {
    background-color: #FFC100;
    text: #0A0903;
    padding: .4rem;
    border-radius: 1em;
    border: 2px solid #0A0903;
    width: 10rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.select-selected{
    background-color: none;
}

.option-content {
    background-color: #FFEAAE;   
}

.helper-doc {
  display: none;
  padding: 30px;
  font-size: 15px;
  background: #f4f6f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: "Times New Roman", Times, serif;
}

ul {
    padding: 0;
}